{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <div class = "container">
        <!-- header -->
        <header class="row secondary-page">
            <div class="col-1">
                <a href="{{ path('app_transaction_index') }}"><i class="bi bi-x"></i></a>

            </div>
            <h1 class="col-11">
                Supprimer un montant
            </h1>

        </header>


        <div class="row form-group">
            <div class="col">

                <div class="form-field form-style input-group flex-nowrap">
                        {{ transaction.currency }}
                </div>
                <div class="form-field input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-coin"></i> {{ transaction.qty }}</span>

                </div>
                <div class="form-field input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">€ {{ transaction.price }}</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                {{ include('transaction/_delete_form.html.twig') }}
            </div>
        </div>

{% endblock %}