{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <div class = "container">
        <!-- header -->
        <header class="row">
            <h1 class="col-6 logo">
                Crypto Tracker
            </h1>
            <div class="col-2">
                <div class="row justify-content-end">

                    <div class="col-2">
                        <a href="{{ path('app_transaction_new') }}" class="add"><i class="bi bi-plus-lg"></i></a>

                    </div>
                </div>
            </div>
        </header>

        <!-- caluclate win/loss of the day -->
        <div class="row balance">
            <div class="col">
                <!--display total viw sign-->


                <a href="{{ path('app_balance') }}" id="total">
                    {% if total >= 0 %}
                        +
                    {% endif %}
                    {{ total|round(2, 'floor') }}€
                </a>
            </div>
        </div>
        <!-- table of crypto bought  -->
        <div class="row">
            <div class="col-8 col-md-6">
                <table class="table table-dark">
                    <tbody>
                    {% for transaction in transactions %}
                        <tr class="row">
                            {% set path = transaction.currency %}

                            <td class="col-2 col-lg-1 text-center"><object data="{{ asset ('svg/'~transaction.currency~'-logo.svg') }}" height="25" > </object></td>
                            <td class="col"> {{ transaction.currency.symbol }} ({{ transaction.currency }})</td>
                            <!-- display tendency  -->
                            {% if tendency[transaction.currency.capId] >= 0 %}
                                <td class="col-2 "><i class="bi bi-arrow-up-right"></i>
                                    {% if tendency[transaction.currency.capId] >= 10 %}
                                    <i class="bi bi-arrow-up-right"></i></td>
                                    {% endif %}
                            {% endif %}
                            {% if tendency[transaction.currency.capId] < 0 %}
                                <td class="col-2 "><i class="bi bi-arrow-down-right"></i>
                                {% if tendency[transaction.currency.capId] <= -10 %}
                                    <i class="bi bi-arrow-down-right"></i></td>
                                {% endif %}
                            {% endif %}


                            <td class="col-3 col-lg-2">
                                <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}" class="edit"><i class="bi bi-pencil-fill"></i></a>
                                <a href="{{ path('app_transaction_delete', {'id': transaction.id}) }}" class="del"><i class="bi bi-trash-fill"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
